div.about
  div.container
    div.about__wrap
      div.about__text
        p Профессиональная гигиена полости рта необходима для обеспечения безупречной улыбки и поддержания зубов в здоровом состоянии.
        p Помогает избавиться от вредного зубного налёта (называемого биоплёнкой) на поверхностях зубов и дёсен.
      img(src="img/content/about-photo.png", alt="")
      div.about__01
        div.about__01-name.block-name эффективная гигиена
        div.about__01-title.block-title <span>01</span> GUided biofirm therapy
        p Мощным прорывом в сфере профессиональной гигиены полости рта стала разработка метода <span>Guided Biofilm Therapy</span> (GBT - Джи Би Ти).
      div.about__02
        div.about__02-name.block-name эффективная гигиена
        div.about__02-title.block-title <span>02</span> Что такое GBT?
        p GBT (в переводе на русский язык «решение для управления биопленкой») – наиболее щадящий и самый эффективный метод удаления зубного налета и устранения биопленки, покрывающей коронку зуба, корень зуба и поверхность имплантата, при его наличии.
        p Процедура GBT проводится на швейцарском оборудовании <a href="#">EMS</a> самого последнего поколения.
