div.banner
  div.container
    div.banner__wrap
      div.banner__name Guided Biofilm Therapy
      div.banner__title Здоровая улыбка
      div.banner__subtitle легко и безболезненно
      div.banner__text Узнайте все о том, как сделать улыбку чистой и здоровой легко и безболезненно
      a.banner__link.btn(href="clinic.html") Выбрать клинику
      div.banner__scroll
        img.banner__scroll-img(src="img/svg/scroll.svg", alt="Scroll")
  div.banner__video
    video.banner__video-item(autoplay="autoplay", muted="muted", loop="loop")
      source(src="files/gbt-video.mp4", type="video/mp4")
