div.how
  div.container
    div.how__wrap
      div.how__03
        div.how__03-name.block-name Благодаря GBT мы это гарантируем
        div.how__03-title.block-title <span>03</span> Больше нет страха и боли
        p Метод GBT гораздо менее травматичный, чем снятие зубных отложений вручную и даже менее травматичный, чем полировка пастами и щеточками.
        p Снятие зубных отложений вручную предполагает довольно сильное давление на зуб, то есть дополнительную нагрузку на зуб с уже поврежденным пародонтом.
        p Удаление зубного налета пастами и специальными щеточками допускает местами чрезмерное и неравномерное снятие тканей, покрывающих коронку зуба.
      div.how__video
        a(href="#")
          img.how__video-img(src="img/content/how-video.png", alt="")
        div.how__video-title Как это работает?
        div.how__video-link-wrap
          a.how__video-link(href="#") смотреть видео
      div.how__main
        div.how__main-title Самое главное
        p <span>Метод Airflow</span> доведен производителем до совершенства, поэтому идеальная щадящая подача специального тонкого порошка на основе эритритола обеспечивает минимум травмы и для слизистой оболочки, и для твердых тканей, а, значит, сводит болезненные ощущения к минимуму.
        img.how__main-img(src="img/content/how-bottle.png", alt="")
      div.how__tech
        div.how__tech-title Передовые технологии
        p <span>В GBT</span> используются успешно зарекомендовавшие себя технологии <span>AIRFLOW®, PERIOFLOW® и PIEZON® NO PAIN</span> для обеспечения минимально инвазивного удаления биоплёнки.
