div.motivation
  div.container
    div.motivation__wrap
      div.motivation__name.block-name отбеливание после GBT:
      div.motivation__title.block-title <span>04</span> лучшая мотивация сохранять результат!
      p После великолепного результата процедуры GBT часто возникает вопрос: а можно сделать улыбку еще белоснежнее. Можно! Проведя отбеливание системой <a href="#">Opalescence</a> в один прием. Полученный результат захочется сохранять как можно дольше.
      p Доктора отмечают: <span>люди с белыми зубами воспринимают себя более успешными и здоровыми</span>
    img.motivation__img(src="img/content/motivation-photo.png", alt="")
