div.go
  div.container
    div.go__wrap
      div.go__left
        div.go__name.block-name Opalescence GO
        div.go__title.block-title Отбеливайте зубы<br>в любом удобном месте!
        div.go__percent Opalescence Go 6% HP :
        p самостоятельный и вспомогательный метод отбеливания (дополнение к ЛЮБОМУ клиническому отбеливанию)
        p может быть рекомендован пациентам для изменения цвета перед реставрацией передних зубов
        p может быть рекомендован как вспомогательный вид отбеливания после ЛЮБОГО КЛИНИЧЕСКОГО отбеливания без изготовления индивидуальных капп
        p позволяет «освежить» улыбку перед значимым событием
        a.go__link.btn(href="clinic.html") Выбрать клинику
      div.go__carousel
        div.go__carousel-wrap.owl-carousel
          div.go__item
            div.go__item-title Возможность достичь профессиональных результатов с использованием предварительно наполненных одноразовых капп.
            img.go__item-img(src="img/content/white-slide.png", alt="")
          div.go__item
            div.go__item-title Возможность достичь профессиональных результатов с использованием предварительно наполненных одноразовых капп.
            img.go__item-img(src="img/content/white-slide.png", alt="")
          div.go__item
            div.go__item-title Возможность достичь профессиональных результатов с использованием предварительно наполненных одноразовых капп.
            img.go__item-img(src="img/content/white-slide.png", alt="")
        div.go__carousel-count

