div.smile
  div.container
    div.smile__wrap
      div.smile__block
        div.smile__name.block-name AIRFLOW и Opalescence GO
        div.smile__title.block-title Сделайте свою улыбку еще ослепительнее!
        p Отбеливание зубов <span>Opalescence Go</span> - самый легкий, быстрый и самый удобный способ украсить вашу улыбку.
        img(src="img/content/white-img.png", alt="")
        img.smile__leaf-1(src="img/content/leaf-1.png", alt="")
        img.smile__leaf-2(src="img/content/leaf-2.png", alt="")
        img.smile__leaf-3(src="img/content/leaf-3.png", alt="")
    div.smile__add
      div.smile__add-title Добавьте больше уверенности вашей улыбке!
      p В 2021 году ведущий американский производитель средств для отбеливания зубов Ultradent представил на российском рынке долгожданный продукт – самое универсальное отбеливание из всех существующих на сегодняшний день, а именно <span>Opalescence Go 6% HP</span>
    div.smile__use
      div.smile__use-left Комбинируется с этапом профессиональной гигиены (оптимально протокол GBT и порошок Air-Flow Plus
      div.smile__use-right
        div.smile__use-right-title Универсальность применения
        p Универсальность в сбалансированной концентрации перекиси водорода, которая с одной стороны дает значимый результат отбеливания, с другой минимизирует риски возникновения повышенной чувствительности и раздражения десен. Подходит для домашнего и клинического применения.
        img(src="img/content/white-box.png", alt="")
