div.white-video
  div.container
    div.white-video__wrap
      div.white-video__name.block-name Opalescence Go
      div.white-video__title.block-title Простота применения
      p Посмотрите короткое видео о применении отбеливания зубов Opalescense GO в предварительно наполненных каппах.
      a.white-video__link(href="#")
        img(src="img/content/white-video.png", alt="")
      div.white-video__how Как это работает?
      div.white-video__watch смотреть видео
