div.bio
  div.container
    div.bio__wrap
      div.bio__title.block-title Как GBT БОРЕТСЯ С БИОПЛЁНКОЙ?
      div.bio__text Пример из практики. Результат после процедуры GBT
      div.bio__carousel.owl-carousel
        div.bio__item
          img.bio__item-img(src="img/content/bio-1.png", alt="")
          div.bio__item-title Биопленка вредна и практически назаметна
          p Бактериальный зубной налёт весьма коварен. Его невозможно увидеть. Он не имеет запаха. Его невозможно определить на ощупь. Но он является основной причиной кариеса, воспалительного заболевания дёсен (пародонтита) и даже выпадения зубов.
          p <span>GUIDED BIOFILM THERAPY</span> от компании EMS позволяет обнаружить биоплёнку и полностью её устранить.
        div.bio__item
          img.bio__item-img(src="img/content/bio-2.png", alt="")
          div.bio__item-title После окрашивания: чётко различима
          p Важным этапом протокола GBT является визуализация биоплёнки на поверхностях зубов и дёсен. Этот процесс называется окрашиванием или индикацией зубного налёта. <span>Биоплёнку возможно полностью устранить только тогда, когда она видна.</span>
          p При использовании старых методов редко применялось окрашивание зубного налёта, поскольку потребовалось бы очень много времени, чтобы удалить биоплёнку
        div.bio__item
          img.bio__item-img(src="img/content/bio-3.png", alt="")
          div.bio__item-title После GBT: идеально чистые и здоровые зубы
          p Средства, используемые для окрашивания зубного налёта, ориентируют врача, как оптимально удалить биоплёнку и сохранить целостность тканей полости рта.
          p Окрашивание способствует непревзойдённому качеству лечения, так как позволяет чётко определить, где биопленка была полностью удалена.
      a.bio__clinic.btn(href="#") Выбрать клинику
