div.biofilm
  div.container
    div.biofilm__wrap
      div.biofilm__left
        img.biofilm__logo(src="img/content/logo.png", alt="")
        div.biofilm__item.biofilm__item_1.active
          img(src="img/content/biofilm-1.png", alt="")
          span Оценка и контроль<br> инфекции
        div.biofilm__item.biofilm__item_2
          img(src="img/content/biofilm-2.png", alt="")
          span Индикация<br> налета
        div.biofilm__item.biofilm__item_3
          img(src="img/content/biofilm-3.png", alt="")
          span Мотивация
        div.biofilm__item.biofilm__item_4
          img(src="img/content/biofilm-4.png", alt="")
          span AIRFLOW
        div.biofilm__item.biofilm__item_5
          img(src="img/content/biofilm-5.png", alt="")
          span PERIOFLOW
        div.biofilm__item.biofilm__item_6
          img(src="img/content/biofilm-6.png", alt="")
          span PEIZON PS
        div.biofilm__item.biofilm__item_7
          img(src="img/content/biofilm-7.png", alt="")
          span Контроль
        div.biofilm__item.biofilm__item_8
          img(src="img/content/biofilm-8.png", alt="")
          span Повторный<br>визит
      div.biofilm__right
        div.biofilm__right-item.biofilm__right-item_1.active
          div.biofilm__right-item-title ОЦЕНКА СОСТОЯНИЯ ПОЛОСТИ РТА
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-item.biofilm__right-item_2
          div.biofilm__right-item-title Индикация<br>налета
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-item.biofilm__right-item_3
          div.biofilm__right-item-title Мотивация
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-item.biofilm__right-item_4
          div.biofilm__right-item-title AIRFLOW
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-item.biofilm__right-item_5
          div.biofilm__right-item-title PERIOFLOW
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-item.biofilm__right-item_6
          div.biofilm__right-item-title PEIZON PS
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-item.biofilm__right-item_7
          div.biofilm__right-item-title Контроль
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-item.biofilm__right-item_8
          div.biofilm__right-item-title Повторный<br>визит
          p Осмотр и диагностика зубов и дёсен помогает составить оптимальный план лечения, обеспечивающий эффективность и комфорт.
        div.biofilm__right-nav
          button.biofilm__right-nav-btn.biofilm__right-nav-btn_prev
          button.biofilm__right-nav-btn.biofilm__right-nav-btn_next
          div.biofilm__right-number.biofilm__right-number_1.active 1
          div.biofilm__right-number.biofilm__right-number_2 2
          span.biofilm__right-span Индикация налета
