div.gbt
  div.container
    div.gbt__wrap
      div.gbt__title.block-title GBT в действии
      a.gbt__link(href="#")
        img(src="img/content/action-video.png", alt="")
      div.gbt__how Как это работает?
      div.gbt__watch смотреть видео
      p <span>GBT</span> (Guided Biofilm Therapy) — клинический протокол, предназначенный для избавления от биопленки и сохранения здоровья зубов в течение долгого времени, разработанный швейцарской компанией EMS совместно с университетами и ведущими стоматологами.
