extends ../common/layout

block main
  main.why
    include ../includes/why/procedure
    include ../includes/why/why-video
    include ../includes/why/what
    include ../includes/why/people
    include ../reuse/want
