div.menu
  div.menu__wrap
    ul
      li
        a(href="why.html") Почему <span>GBT</span>
      li
        a(href="action.html") <span>GBT</span> в действии
      li
        a(href="white.html") <span>GBT</span> и отбеливание
      li
        a(href="history.html") История <span>EMS</span>
      li
        a(href="faq.html") Вопрос-Ответ
      li
        a(href="reviews.html") Отзывы
  div.menu__follow #FOLLOW_US
    div.menu__follow-social
      a.menu__follow-link(href="#", target="_blank")
        img.menu__follow-img(src="img/svg/menu-facebook.svg" alt="Facebook")
      a.menu__follow-link(href="#", target="_blank")
        img.menu__follow-img(src="img/svg/menu-instagram.svg" alt="Facebook")
