div.want
  div.container
    div.want__wrap
      div.want__left
        img(src="img/content/faq-magazine.png", alt="")
      div.want__right
        div.want__title Хотите знать больше?
        p Скачайте брошюру и узнайте все о преимуществах процедуры GBT и правильном домашнем уходе за полостью рта.
        p Помните, своевременное прохождение процедуры GBT сохраняет здоровье зубов, полости рта и организма в целом!
        a.want__link.btn(href="#") Скачать брошюру
