div.post
  div.container
    div.post__wrap
      div.post__carousel.owl-carousel
        div.post__item
          div.post__item-name Елена, 37 лет,
          div.post__item-city Санкт-Петербург
          p Уже много лет я стараюсь делать профчистку 1 раз в полгода. В один день я пришла на профгигиену и поняла, что испытываю абсолютно новые ощущения, более приятные. Я даже спросила у врача: а точно ли мне делают профчистку, может быть появилась какая-то новая процедура. Врач мне рассказала, что чистку делали по новому протоколу, на новом оборудовании и другим порошком.  Теперь ухаживать за своими зубами будет еще приятнее. Я с радостью буду идти на профгигиену.
        div.post__item
          div.post__item-name Валерия, 20 лет
          div.post__item-city Самара
          p У меня брекеты, ношу их около года. На одном из приемов врач мне сказала, что нужно сделать профгигиену, так как начали воспаляться десны. Я стала переживать, что если сделаю чистку, то повредятся брекеты или дуга.  И в то же время не хотелось запускать десны, так как брекеты носить еще минимум год. Врач посоветовала мне сходить на чистку GBT. Это новый метод, который совершенно безвреден для пациентов с брекетами. Как хорошо, что я послушала врача и сходила на профгигиену. Брекеты никак не повредились, и десны перестали беспокоить. И мне было совсем не больно.  Врач сказала приходить не реже 1 раза в 3-4 месяца.
        div.post__item
          div.post__item-name Михаил, 43 года,
          div.post__item-city Сочи
          p Мне очень понравилась процедура. Не было неприятных ощущений. Когда пошла теплая вода, подумал, что что-то идет не так. Но ошибся, и очень этому рад.  Теперь буду ходить только на такую чистку.
        div.post__item
          div.post__item-name Ольга, 38 лет
          div.post__item-city Москва
          p Моему сыну 5 лет. Так как я, к сожалению, страдаю стоматологическими заболеваниями, то решила следить за здоровьем зубов своего ребенка с самого раннего возраста. Почитала, что уже в этом возрасте нужно делать профчистку, чтобы не было проблем с кариесом.  С дрожью себе представляла поход к стоматологу.  Но зря.  Нам делали чистку новым методом. Моему ребенку в шутливой форме рассказали, как размножаются бактерии и почему важно от них избавляться, а еще показали, как правильно чистить зубы дома. Я счастлива, что мой ребенок не будет бояться ходить к стоматологу.
        div.post__item
          div.post__item-name Карина, 15 лет
          div.post__item-city Москва
          p Мне очень понравилось, как сегодня прошла профгигиена. Супер.
        div.post__item
          div.post__item-name Мария, 40 лет
          div.post__item-city Москва
          p Как-то мне подруга рассказала, что она была на профгигиене GBT и  чуть не заснула от удовольствия.  Я решила тоже попробовать. Что говорить, я ощутила большую разницу. Пришлось даже поменять клинику, потому что в моей такой процедуры не было. Теперь всем своим друзьям советую ходить на профгигиену GBT.
        div.post__item
          div.post__item-name Валерий, 60 лет
          div.post__item-city Новосибирск
          p Несколько лет страдаю пародонтитом. Перед каждой процедурой профгигиены у меня была боязнь и приходилось терпеть неприятные ощущения. Благодаря новой процедуре я забыл о боли и с удовольствием хожу на чистку.
        div.post__item.post__item_empty
        div.post__item
          div.post__item-name Татьяна, 35 лет
          div.post__item-city Санкт-Петербург
          p Как хорошо, что медицина не стоит на месте. Процедура GBT – это просто чудо. Я знаю, что профгигиена очень важна, и нужно своевременно ее проходить. Но для меня каждый визит к гигиенисту ассоциировался с ужасом. Чистку могла переносить только с анестезией. На этой процедуре все прошло без анестезии. И теперь совсем не страшно и не больно. Красота и здоровье моих зубов больше не требуют жертв.
      div.post__choice
        div.post__choice-title Более <span>1000</span> человек<br>перешли на GBT<br>Процедуру
        a.post__choice-btn.btn(href="clinic.html") Выбрать клинику
      div.post__nav-count
