div.share
  div.container
    div.share__wrap
      div.share__left
        div.share__name.block-name оставьте отзыв
        div.share__title.block-title Поделитесь своими впечатлениями
        p Расскажите о своем опыте использования процедуры и помогите другим людям сделать выбор
        button.share__btn.btn(data-bs-toggle="modal", data-bs-target="#callback") Оставить отзыв
      img(src="img/content/reviews-photo.png", alt="")

