div.video
  div.container
    div.video__title Видео отзывы наших клиентов
    div.video__text Посмотрите короткие видео об опыте применения метода GBT
  div.video__wrap
    div.video__carousel.owl-carousel
      div.video__item
        a.video__item-link(href="#")
          img(src="img/content/reviews-1.png", alt="")
        div.video__item-name Татьяна, 35 лет
        div.video__item-city Санкт-Петербург
      div.video__item
        a.video__item-link(href="#")
          img(src="img/content/reviews-2.png", alt="")
        div.video__item-name Себастьян, 35 лет
        div.video__item-city Санкт-Петербург
      div.video__item
        a.video__item-link(href="#")
          img(src="img/content/reviews-3.png", alt="")
        div.video__item-name Алина, 35 лет
        div.video__item-city Санкт-Петербург
      div.video__item
        a.video__item-link(href="#")
          img(src="img/content/reviews-1.png", alt="")
        div.video__item-name Татьяна, 35 лет
        div.video__item-city Санкт-Петербург
    div.video__nav-count
