div.idea
  div.container
    div.idea__wrap
      div.idea__name.block-name синоним<br>швейцарского качества
      div.idea__title.block-title Идея
      p Взяв за основу непреодолимую жажду инноваций, уникальную идею и чёткое представление о задачах, поставленных перед современными стоматологическими клиниками, Бернд Бюнер и Пьер Мабилль в 1981 г. учредили компанию <span>EMS Electro Medical Systems</span> – синоним швейцарского качества.
    div.idea__history
      div.idea__history-left
        div.idea__history-left-year 1983
        p В 1983 г. компания представила свои первые аппараты для профессиональной гигиены полости рта. И с тех пор, благодаря технологиям <span>AIR-FLOW® и PIEZON®</span>, основательно изменилась и преобразовалась концепция профессиональной профилактики стоматологических заболеваний.
        p Нашим ведущим побудительным мотивом всегда является <span>уверенность в том, что стоматологические процедуры должны быть приятными и безболезненными для пациентов.</span>
      div.idea__history-right
        img(src="img/content/history-logo.png", alt="#")
        p С такой философией <span>EMS</span> стала одной из самых известных в мире компаний по производству стоматологической техники. На данный момент, наши <span>более 500 постоянных сотрудников</span> работают для того, чтобы профессиональные стоматологические процедуры были менее времязатратными, более успешными, щадящими и эффективными.
