div.mission
  div.container
    div.mission__title.block-title Миссия и ценности
    p Пьер Мабилль, один из учредителей компании <span>EMS</span>, разработал принцип пьезотехнологии и развивал её применение в удалении зубного камня. <span>Он также изобрёл технологию AIR-FLOW®</span>, которая открыла новый раздел в области профессиональной профилактики стоматологических заболеваний. Технология была создана с применением экспертных знаний и опыта мастеров из долины. Немаловажную роль при этом также отыграло тесное сотрудничество с мануфактурой “Jaeger-LeCoultre” и поставщиками для производителей самых эксклюзивных часов во всем мире.
    div.mission__wrap
      div.mission__left
        div.mission__left-text
          p В тихой швейцарской долине Вале-де-Жу, где все подчинено стремлению к перфекционизму , берёт свое начало наша компания, которая на сегодняшний день является всемирно известной, процветающей компанией с более <span>500 сотрудниками.</span>
        div.mission__left-company
          img(src="img/content/history-logo.png", alt="")
          p Мы - лидер рынка в сфере производства ультразвуковых скалеров и товаров для воздушной полировки, которые ценимы за непревзойденное качество и большой срок службы – настоящее “швейцарское качество”.
      img(src="img/content/history-img-2.png", alt="")
