div.vertex
  div.container
    div.vertex__wrap
      div.vertex__name.block-name История
      div.vertex__title.block-title Из долины на вершину
      p В долине, в соседстве производителей престижных марок часов “Jaeger-LeCoultre” и “Breguet", конечно может случиться что-то удивительное. Любой, попав сюда, может по-настоящему ощутить тишину. А посмотрев вокруг, можно заприметить названия, которые обычно находятся в совершенно других, далеко не таких тихих местах : Jaeger-LeCoultre, Breguet, Audemars Piguet, Blancpain. Долина является домом для мануфактур, где создаются самые эксклюзивные и самые дорогие часовые изделия. Это дом для мастеров, владеющих филигранной точностью, непревзойденное искусство которых на протяжении более 200 лет известно далеко за границами этой необычной долины.
    div.vertex__flex
      img(src="img/content/history-img-1.png", alt="")
      div.vertex__text
        p Швейцарская долина Валле-де-Жу находится к северу от Женевы на высоте 1008 м над уровнем моря, в кантоне Во. <span>Это место перфекционистов, изобретателей и инноваторов.</span>
        p Здесь, именно в этой долине, где ценится точность, берёт свое начало компания <span>EMS Electro Medical Systems.</span>

