div.people
  div.container
    div.people__title Системным заболеваниям
    div.people__wrap
      img.people__woman(src="img/svg/why-woman.svg", alt="")
      div.people__item.people__item_1
        span.people__item-text Болезнь Альцгеймера
        div.people__item-circle
          img(src="img/svg/disease-1.svg", alt="")
      div.people__item.people__item_2
        span.people__item-text Депрессия
        div.people__item-circle
          img(src="img/svg/disease-2.svg", alt="")
      div.people__item.people__item_3
        span.people__item-text Рак полости<br>рта
        div.people__item-circle
          img(src="img/svg/disease-3.svg", alt="")
      div.people__item.people__item_4
        span.people__item-text Заболевания<br>легких
        div.people__item-circle
          img(src="img/svg/disease-4.svg", alt="")
      div.people__item.people__item_5
        span.people__item-text Сахарный<br> диабет
        div.people__item-circle
          img(src="img/svg/disease-5.svg", alt="")
      div.people__item.people__item_6
        span.people__item-text Преждевременные<br> роды
        div.people__item-circle
          img(src="img/svg/disease-6.svg", alt="")
      div.people__item.people__item_7
        span.people__item-text Бесплодие
        div.people__item-circle
          img(src="img/svg/disease-7.svg", alt="")
      div.people__item.people__item_8
        span.people__item-text Инсульт
        div.people__item-circle
          img(src="img/svg/disease-8.svg", alt="")
      div.people__item.people__item_9
        span.people__item-text Сердечно-<br>сосудистые<br>заболевания
        div.people__item-circle
          img(src="img/svg/disease-9.svg", alt="")
      div.people__item.people__item_10
        span.people__item-text Рак молочной<br>железы
        div.people__item-circle
          img(src="img/svg/disease-10.svg", alt="")
      div.people__item.people__item_11
        span.people__item-text Рак<br>поджелудочной<br>железы
        div.people__item-circle
          img(src="img/svg/disease-11.svg", alt="")
      div.people__item.people__item_12
        span.people__item-text Заболевания<br>печени
        div.people__item-circle
          img(src="img/svg/disease-12.svg", alt="")
      div.people__item.people__item_13
        span.people__item-text Ревматоидный<br>артрит
        div.people__item-circle
          img(src="img/svg/disease-13.svg", alt="")
      div.people__item.people__item_14
        span.people__item-text Остеопороз
        div.people__item-circle
          img(src="img/svg/disease-14.svg", alt="")
