div.procedure
  div.container
    div.procedure__wrap
      img(src="img/content/why-img.png", alt="")
      div.procedure__block
        div.procedure__name процедура GBT
        div.procedure__title Путь к здоровому организму
        p <span>GBT</span> – это быстрая и эффективная процедура, которая позволяет в одно посещение провести комплекс мероприятий от диагностики до полного удаления вредной биопленки, налета и/или мягких и твердых зубных отложений.
