div.what
  div.container
    div.what__wrap
      div.what__title Что такое и почему вредна биопленка?
      div.what__flex
        div.what__flex-left <span>Биопленка</span> — это гениально организованное  сообщество микроорганизмов различных групп.
        ul
          li - не имеет запаха
          li - незаметна
          li - не определима на ощупь
      div.what__result результаты исследований
      p Она  образуется  в ротовой полости, где существуют идеальные условия для ее формирования. Установлено, что ее формируют и в ней находятся <span>свыше 95%</span> идентифицированных в природе бактерий.
      div.what__text GBT удаляет до 100 % биопленки. Без GBT биопленка приводит к:
      div.what__disease
        div.what__disease-title Заболеваниям полости рта
        img(src="img/content/tooth.png", alt="")
        span.what__disease-text.what__disease-text_1 Кариес
        span.what__disease-text.what__disease-text_2 Гингивит
        span.what__disease-text.what__disease-text_3 Неприятный запах изо рта
        span.what__disease-text.what__disease-text_4 Заболевания парадонта
        span.what__disease-text.what__disease-text_5 Потеря зубов
        span.what__disease-text.what__disease-text_6 Потеря имплантов
