div.why-video
  div.container
    div.why-video__title Как это работает?
    div.why-video__text смотреть видео
    div.why-video__video
      a(href="#")
        img(src="img/content/why-video.png", alt="")
