footer.footer
  div.container
    div.footer__wrap
      a.footer__logo-link(href="#")
        img(src="img/content/logo.png", alt="GBT")
      div.footer__menu
        ul.footer__menu-list
          li.footer__menu-item
            a.footer__menu-link(href="#") Почему <span>GBT</span>
          li.footer__menu-item
            a.footer__menu-link(href="#") <span>GBT</span> и отбеливание
          li.footer__menu-item
            a.footer__menu-link(href="#") История <span>EMS</span>
          li.footer__menu-item
            a.footer__menu-link(href="#") <span>GBT</span> в действии
          li.footer__menu-item
            a.footer__menu-link(href="reviews.html") Отзывы
          li.footer__menu-item
            a.footer__menu-link(href="#") <span>GBT</span> для всех
      div.footer__follow
        div.footer__follow-title #follow_us
        div.footer__follow-social
          a.footer__follow-social-link(href="#")
            img(src="img/svg/facebook.svg", alt="")
          a.footer__follow-social-link(href="#")
            img(src="img/svg/instagram.svg", alt="")
  div.footer__copyright
    div.container
      div.footer__copyright-wrap
        span.footer__copyright-text © 2021 AIRFLOW-GBT.RU
        div.footer__copyright-dev Designed by <a href="#"><img src="img/svg/promind.svg" alt="">Promind</a>
