header.header
  div.container
    div.header__wrap
      a.header__logo(href="index.html")
        img(src="img/content/logo.png", alt="GTB")
      nav.header__nav
        ul
          li
            a(href="#") Почему <span>GBT</span>
          li
            a(href="#") <span>GBT</span> в действии
          li
            a(href="#") <span>GBT</span> и отбеливание
          li
            a(href="#") История <span>EMS</span>
          li
            a(href="#") Вопрос-Ответ
          li
            a(href="reviews.html") Отзывы
      a.header__search(href="#") Найти клинику GBT
      button.header__burger
  include ../reuse/menu
