header.header
  div.container
    div.header__wrap
      a.header__logo(href="index.html")
        img(src="img/content/logo.png", alt="GTB")
      nav.header__nav
        ul
          li.active
            a(href="why.html") Почему <span>GBT</span>
          li
            a(href="action.html") <span>GBT</span> в действии
          li
            a(href="white.html") <span>GBT</span> и отбеливание
          li
            a(href="history.html") История <span>EMS</span>
          li
            a(href="faq.html") Вопрос-Ответ
          li
            a(href="reviews.html") Отзывы
      a.header__search(href="clinic.html") Найти клинику GBT
      button.header__burger
  include ../reuse/menu
